@use 'variaveis';

header {
    background-image: url(../img/cidadeConvento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 30vh;
}

header .container {
    position: relative;
    bottom: -50%;
}

.profile-avatar {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 180px;
    height: 180px;
}

.profile-name {
    font-size: 2em;
}

.profile-username {
    margin: 16px 0 32px;
    font-size: 1.1em;
}

.profile-link {
    background-color: var(--header-color);
    color: var(--bg-color);
    padding: 8px 16px;
    display: inline-block;
    margin-top: 24px;
    text-decoration: none;
}

.numbers {
    display: flex;
    padding: 0;
}

.numbers-item {
    font-size: 3em;
    font-weight: bold;
}

.numbers-item h3 {
    font-size: .5em;
    color: variaveis.$colorSecondary;
    font-family: variaveis.$fontPrincipal;
}

.logo{
    width: 250px;
    display: flex;
    margin: auto;
}